@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

@layer base {
  body {
    @apply text-zinc-700 bg-slate-50 selection:bg-primary-500/30 selection:text-black;
  }
}

.bg-grid {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 32px 32px;
}
